@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --dim:#808080;
    --form-bg:#F5F5F5;
    --form:#7B7B7B;
    --primary:#DB4444;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins","Inter", sans-serif;
}
html body{
    height: 100%;
    width: 100%;
}
/* common */
.link{transition: color 0.15s;}
.link:hover{color:var(--primary);}

/* account page */
.btn-edit-address:hover{box-shadow: 0 0 1px rgba(0, 0, 0, 0);}
.btn-edit-address{
    transition: box-shadow 0.15s;
    background-color:var(--primary);
    padding:10px 5px;
    color:white;
    margin-right: 7px;
    margin-bottom:7px;
    border-radius: 3px;
    font-size: 14px;
    padding: 10px;
}
.border-red{
    border:1px solid var(--dim);
    border-radius: 5px;
}
.address-book>p{
    margin:5px;
}
.highlight,.h{color:var(--primary);}
.heading ul{
    list-style: none;
}
.heading ul li{
    margin: 7px 0;
    cursor: pointer;
}
.heading>ul>li{
    font-size: medium;
    font-weight: 500;
    margin-bottom:15px;
}
.menu-item{
    margin-bottom:20px;
    transition: color 0.15s;
}
.menu-item:hover{
    color: var(--primary);
}
.active{
    color:var(--primary);
    font-weight: 600;
}
.invisible{display:none;}
.flex{
    display:flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
    gap:10px;
}
.flex-item{
    flex:1 1 calc(20%);
}
.form-label{
    display: block;
    font-size:16px;
}
.edit-profile input[type="text"]{
    padding: 15px;
}
.title{
    font-weight: 500;
    font-size: 20px;
}



/* contact us page */
#contactMessage{font-size:14px;}
.dim{
    color:var(--dim);
}
.d{background: var(--dim);}
.sitemap{
    margin:50px 0;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    gap: 25px;
    font-size: 14px;
}
.flex{
    display: flex;
    align-items: center;
    height: auto;
    gap:10px;
}
.flex-col{
    display:flex;
    flex-direction: column;
    row-gap: 20px;
}
.line{
    background-color: var(--dim);
    height: 1px;
}
.form-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}
input[type="text"],textarea{
    padding:20px;
    background-color: var(--form-bg);
    border: none;
    resize: none;
    font-size: 14px;
}
input[type="text"]::placeholder {
    color: var(--form);
    opacity: 1;
}
input[type="submit"],button{border:none;}
.btn-msg{
    padding:13px 45px;
    background-color: var(--primary);
    color:white;
    border-radius: 3px;
}

.gap{
    gap:50px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
    .grid{
        grid-template-columns: 1fr;
    }
    .flex{
        flex-direction: column;
    }
    .flex-item{flex:1 1 100%;width: 100%;}
}
/*  for Extra small devices (phones, 600px and down)*/
@media only screen and (max-width:600px) {

}


